<div class="well">
  <h2>genre: <%= @genre.name %></h2>
  <p>displaying <%= @books.count %> books.</p> 
</div>

<%= render partial: "books/table", locals: {books: @books} %>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
