<div class="well">
  <h2>genre: <%= @genre.name %></h2>
  <p>displaying <%= @books.count %> books.</p> 
</div>

<div id="genreContainer" class="well">
  <h2 id="genreName"></h2>
  <p id="genreBooks"></p>
</div>



<%= render partial: "books/table", locals: {books: @books} %>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>

<script>
$.ajax({
    url: window.location.pathname+".json"
	})
	.done(function(response) {
	console.log(response);
	$("#genreName").html(response.name);
	$.each(response.books, function(key, book){
		$("#genreBooks").append("<a href='/users/"+book.user_id+"/books/"+book.id+"'>"+
			book.title+" - "+book.title+"</a><br>"
			);
	});
});
</script>
