<h3>add a comment</h3>
<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br><%= f.text_field :content %>
    <%= f.hidden_field :book_id, value: comment.book_id %>
    <%= f.hidden_field :user_id, value: comment.user_id %>
  </div>

<!--   <div class="actions">
    <%= f.submit %>
  </div> -->

  <a href=# id='clickSubmit'>add comment</a>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {

    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });

    $('#clickSubmit').on('click', function(event) {
      event.preventDefault();
      var values = $('form').serialize();
      var commenting = $.post('/comments', values);
      commenting.success(function(data) {
        console.log(data);
        var comment = new Comment(data);
        if(comment.id==null){
          alert("Your comment failed to validate. Please try again.")
        } else {
          $('#commentsTable tr:last').after(comment.formatComment());
        }
      });
    });
  });
</script>
