<h3>add a comment</h3>
<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br><%= f.text_field :content %>
    <%= f.hidden_field :book_id, value: comment.book_id %>
    <%= f.hidden_field :user_id, value: comment.user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var commenting = $.post('/comments', values);
 
      commenting.done(function(data) {
        console.log(data);
        $('#commentsTable tr:last').after(
            "<tr><td><strong>"+data.user.email+"</strong> says: "+data.content+"</td><td><a data-confirm='Are you sure?'' rel='nofollow' data-method='delete' href='/comments/"+data.id+"'>delete</a></td></tr>"
        );
        
      });
    });
  });
</script>
