<table class="table table-striped">
  <thead>
    <tr>
      <th>owner</th>
      <th>filename / download</th>
      <th>title - author</th>
      <th>genre(s)</th>
      <th colspan="3">actions</th>
    </tr>
  </thead>

  <tbody>
    <% books.all.each do |book| %>
      <tr>
        <td><%= book.user.email %></td>
        <td><%= link_to book.epub_file_name, book.download_link %> <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></td>
        <td><%= book.title %> - <%= book.author %></td>
        <td><%= genre_links(book) %></td>
        <td><%= link_to 'more info', user_book_path(book.user, book), class: "moreInfo" %></td>
        <td><%= link_to 'edit', edit_user_book_path(book.user, book) if book.user == current_user %></td>
        <td><%= link_to 'delete', user_book_path(book.user, book), method: :delete, data: { confirm: 'Are you sure?' } if book.user == current_user %></td>
      </tr>
      <tr class="toggleInfo" style="display:none;"><td>ayyyy lmao</td></tr>
    <% end %>
  </tbody>
</table>