
<h2><%= @book.title %> - <%= @book.author %></h2>
<h3></h3>
<table class="table">

	<tr>
		<td>filename/download:</td>
		<td><%= link_to @book.epub_file_name, @book.download_link %></td>
	</tr>
	<tr>
		<td>filesize:</td>
		<td><%= @book.epub_file_size/1000 %> kb</td>
	</tr>
	<tr>
		<td>updated:</td>
		<td><%= @book.epub_updated_at %></td>
	</tr>
	<tr>
		<td>genres:</td>
		<td><%= genre_links(@book) %></td>
	</tr>
</table>

<%= @comment.inspect %>
<%= render 'comments/form', comment: @comment, book: @book %>

<%= link_to 'Back', :back %>
