
<h1><strong><%= @book.title %> - <%= @book.author %></h1>
<table class="table">

	<tr>
		<td>filename:</td>
		<td><%= @book.epub_file_name %></td>
	</tr>
	<tr>
		<td>filesize:</td>
		<td><%= @book.epub_file_size/1000 %> kb</td>
	</tr>
	<tr>
		<td>updated:</td>
		<td><%= @book.epub_updated_at %></td>
	</tr>
	<tr>
		<td>genres:</td>
		<td><%= @book.epub_updated_at %></td>
	</tr>
</table>

<%= link_to 'Back', :back %>
