
<h2><%= @book.title %> - <%= @book.author %></h2>

<table class="table">

	<tr>
		<td>filename/download:</td>
		<td><%= link_to @book.epub_file_name, @book.download_link %></td>
	</tr>
	<tr>
		<td>filesize:</td>
		<td><%= @book.epub_file_size/1000 %> kb</td>
	</tr>
	<tr>
		<td>updated:</td>
		<td><%= @book.epub_updated_at %></td>
	</tr>
	<tr>
		<td>genres:</td>
		<td><%= genre_links(@book) %></td>
	</tr>
</table>


<h3>comments</h3>
<table class="table">
<% @book.comments.each do |comment| %>
	<tr>
		<td><strong><%= comment.user.email %></strong> says: <%= comment.content %></td>
	</tr>
<% end %>
<% if @book.comments.empty? %>
	<tr>
		<td>there are no comments yet. why don't you add one?</td>
	</tr>
<% end %>
</table>


<%= render 'comments/form', comment: @comment, book: @book %>

<%= link_to 'Back', :back %>
