<!DOCTYPE html>
<html>
  <head>
    <title>Bookreader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <h1>epub library</h1>

  

  <body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= current_user.to_s %>
<%= link_to 'log out', destroy_user_session_path, method: :delete %>

  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

    <%= yield %>
	
  </body>
</html>
